In [24]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import os
import json

## Project Discripition

In [28]:
# Pathway to use later to export CSV for cleaning.
covid_testing_data_output_path = os.path.join("Resources/covid_testing_data.csv")

# URL for the API call
covid_testing_data = f"https://api.covidtracking.com/v1/states/daily.json"

# Calling API and printing response.
response = requests.get(covid_testing_data).json()

In [29]:
response
covid_testing_df = pd.DataFrame(response)
covid_testing_df

,date,state,positive,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200923,AK,7941.0,425257.0,NaN,433198.0,43.0,NaN,NaN,NaN,...,433198,0,0,77a29837bdfd97f18040622b1984ee7b87e863b8,0,0,0,0,0,
1,20200923,AL,147153.0,938451.0,NaN,1070903.0,768.0,16698.0,NaN,1669.0,...,1085604,31,94,64268ac422e3a504e9b8401b29b1a739bf4ee1ba,0,0,0,0,0,
2,20200923,AR,77963.0,831301.0,NaN,906947.0,460.0,5098.0,221.0,NaN,...,909264,20,43,052de2d72685a74636cebc28c54f51ef7a5c0bcb,0,0,0,0,0,
3,20200923,AS,0.0,1571.0,NaN,1571.0,NaN,NaN,NaN,NaN,...,1571,0,0,2c46457ee4f802b1f3f14dabbca92ccfbf5670d7,0,0,0,0,0,
4,20200923,AZ,215284.0,1194582.0,NaN,1409866.0,583.0,21925.0,114.0,NaN,...,1409866,27,25,3db97c866c945701ac6812c274b470a388262d73,0,0,0,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11405,20200124,WA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,ca19e6147db94a84ba9cb6aca79e3ea7cb2f6941,0,0,0,0,0,
11406,20200123,MA,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,0,0,0,45e5e53c94482161c8d08f30d01454749e2c59aa,0,0,0,0,0,
11407,20200123,WA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,89e9cc157bfc766d7541dd308afe8ff256bf9440,0,0,0,0,0,
11408,20200122,MA,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,0,0,0,11371837082f36f5c93a58a92e4475138927218e,0,0,0,0,0,
11409,20200122,WA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,7e33d0899376a3efac762dcdd0733106d7b59530,0,0,0,0,0,

In [30]:
covid_testing_df.to_csv(covid_testing_data_output_path, index=False)

In [31]:
# Pathway to use later to export CSV for cleaning.
us_covid_tracking_data_path = os.path.join("Resources/us_covid_tracking_data.csv")

# URL for the API call
us_covid_tracking_data = "https://finnhub.io/api/v1/covid19/us"

# Calling API and printing response.
response2 = requests.get(us_covid_tracking_data).json()
print(json.dumps(response2, indent=4, sort_keys=True))

[
    {
        "case": 456262,
        "death": 33090,
        "state": "New York",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 201128,
        "death": 16208,
        "state": "New Jersey",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 793535,
        "death": 15210,
        "state": "California",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 131263,
        "death": 7018,
        "state": "Michigan",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 690499,
        "death": 13618,
        "state": "Florida",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 125867,
        "death": 9328,
        "state": "Massachusetts",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 83215,
        "death": 2151,
        "state": "Washington",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 163869,
        "death": 5407,
        "state": "Louisiana",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 278209,
        "death": 8486,
        "state": "Illinois",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 157304,
        "death": 8062,
        "state": "Pennsylvania",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 310221,
        "death": 6777,
        "state": "Georgia",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 733123,
        "death": 14919,
        "state": "Texas",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 65901,
        "death": 2024,
        "state": "Colorado",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 56315,
        "death": 4498,
        "state": "Connecticut",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 146755,
        "death": 4687,
        "state": "Ohio",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 113343,
        "death": 3534,
        "state": "Indiana",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 186710,
        "death": 2278,
        "state": "Tennessee",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 121297,
        "death": 3902,
        "state": "Maryland",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 196506,
        "death": 3322,
        "state": "North Carolina",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 104170,
        "death": 1252,
        "state": "Wisconsin",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 214846,
        "death": 5498,
        "state": "Arizona",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 142610,
        "death": 3096,
        "state": "Virginia",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 120421,
        "death": 2081,
        "state": "Missouri",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 76816,
        "death": 1556,
        "state": "Nevada",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 147160,
        "death": 2492,
        "state": "Alabama",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 94526,
        "death": 2866,
        "state": "Mississippi",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 141688,
        "death": 3268,
        "state": "South Carolina",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 65922,
        "death": 444,
        "state": "Utah",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 92105,
        "death": 2037,
        "state": "Minnesota",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 31313,
        "death": 532,
        "state": "Oregon",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 80139,
        "death": 970,
        "state": "Oklahoma",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 77964,
        "death": 1229,
        "state": "Arkansas",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 82298,
        "death": 1294,
        "state": "Iowa",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 15050,
        "death": 621,
        "state": "Washington, D.C.",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 62735,
        "death": 1119,
        "state": "Kentucky",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 38347,
        "death": 451,
        "state": "Idaho",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 24034,
        "death": 1099,
        "state": "Rhode Island",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 54058,
        "death": 606,
        "state": "Kansas",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 7990,
        "death": 438,
        "state": "New Hampshire",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 5174,
        "death": 139,
        "state": "Maine",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 1724,
        "death": 58,
        "state": "Vermont",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 27790,
        "death": 854,
        "state": "New Mexico",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 19761,
        "death": 628,
        "state": "Delaware",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 42660,
        "death": 617,
        "state": "Puerto Rico",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 11523,
        "death": 120,
        "state": "Hawaii",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 10700,
        "death": 163,
        "state": "Montana",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 41000,
        "death": 444,
        "state": "Nebraska",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 10141,
        "death": 548,
        "state": "Navajo Nation",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 14515,
        "death": 322,
        "state": "West Virginia",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 18981,
        "death": 203,
        "state": "North Dakota",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 6950,
        "death": 45,
        "state": "Alaska",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 5024,
        "death": 49,
        "state": "Wyoming",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 19634,
        "death": 202,
        "state": "South Dakota",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 103,
        "death": 3,
        "state": "Grand Princess",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 2235,
        "death": 37,
        "state": "Guam",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 49,
        "death": 0,
        "state": "Diamond Princess",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 1278,
        "death": 19,
        "state": "US Virgin Islands",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 4,
        "death": 0,
        "state": "Wuhan Evacuee",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 31,
        "death": 2,
        "state": "Northern Mariana Islands",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 63568,
        "death": 94,
        "state": "US Military",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 16263,
        "death": 124,
        "state": "Federal Bureau of Prisons",
        "updated": "2020-09-24 05:00:26"
    },
    {
        "case": 58364,
        "death": 3302,
        "state": "Veteran Affair",
        "updated": "2020-09-24 05:00:26"
    }
]

In [32]:
covid_tracking_df = pd.DataFrame(response2)
covid_tracking_df

                        state    case  death              updated
0                    New York  456262  33090  2020-09-24 05:00:26
1                  New Jersey  201128  16208  2020-09-24 05:00:26
2                  California  793535  15210  2020-09-24 05:00:26
3                    Michigan  131263   7018  2020-09-24 05:00:26
4                     Florida  690499  13618  2020-09-24 05:00:26
..                        ...     ...    ...                  ...
57              Wuhan Evacuee       4      0  2020-09-24 05:00:26
58   Northern Mariana Islands      31      2  2020-09-24 05:00:26
59                US Military   63568     94  2020-09-24 05:00:26
60  Federal Bureau of Prisons   16263    124  2020-09-24 05:00:26
61             Veteran Affair   58364   3302  2020-09-24 05:00:26

[62 rows x 4 columns]

In [33]:
covid_tracking_df.to_csv(us_covid_tracking_data_path, index = False)