In [2]:
# # Pandas
# import pandas as pd

# # SQL Alchemy
# from sqlalchemy import create_engine

# database_path=

In [ ]:
-- Create a new table
CREATE TABLE  (
  current_date DATE(30) NOT NULL,
  positive INT,
  negative INT,
  death_increase VARCHAR(30),
  state  VARCHAR(30)
  case INT (30)
    death INT (30)
    updated VARCHAR (30)
    state_abrv VARCHAR (30)
  
);

-- Query all fields from the table
SELECT *
FROM people;

-- Insert data into the table
INSERT INTO people (name, has_pet, pet_type, pet_name, pet_age)
VALUES ('Jacob', true, 'dog', 'Misty', 10),
  ('Ahmed', true, 'rock', 'Rockington', 100),
  ('Peter', true, 'cat', 'Franklin', 2),
  ('Dave', true, 'dog', 'Queso', 1);

-- Query only the `pet_name` field
SELECT pet_name
FROM people;

-- Filter the query to show only dogs under the age of 5
SELECT pet_type, pet_name
FROM people
WHERE pet_type = 'dog'
AND pet_age < 5;